# -*- coding: utf-8 -*-

import os
from cdr.settings_common import *

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'cdr.sqlite3',
    },
    'pbx': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'pbx.sqlite3',
    }
}

# </dev/urandom tr -dc A-Za-z0-9| head -c 50
SECRET_KEY = '00&3fw7gr0_-i0*hm4(gz9e$5=i+5i$-084zb%sa#d-(1a_-$('
