# -*- coding: utf-8 -*-

import os
from cdr.settings_common import *

DATABASE_ROUTERS = ('cdr.routers.AsteriskPBX' ,)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'cdr.sqlite3'),
    },
    'pbx': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'pbx.sqlite3'),
    }
}

# </dev/urandom tr -dc A-Za-z0-9| head -c 50
SECRET_KEY = '00&3fw7gr0_-i0*hm4(gz9e$5=i+5i$-084zb%sa#d-(1a_-$('
