{% extends 'base.html' %}

{% load bootstrap3 i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			{% trans 'Password change' %}
		</div>
		<div class="panel-body">
			<form role="form" method="post" action=".">
				{% csrf_token %}
				{% bootstrap_form form %}
				<input type="hidden" name="next" value="{{ next }}" />
				{% bootstrap_button _('Change my password') button_type='submit' icon='lock' %}
				{% bootstrap_button _('Reset') button_type='reset' icon='refresh' %}
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">document.getElementById('id_old_password').focus();</script>
{% endblock %}
